@import 'tailwindcss';

#root {
    width: 100%;
    height: 100%;
}


@theme {

    /*Primary Neutral Palette*/
    --color-primary-900: #10197A;
    --color-primary-800: #1A2793;
    --color-primary-700: #2A3BB7;
    --color-primary-600: #3D53DB;
    --color-primary-500: #546FFF;
    --color-primary-400: #9F84FD;
    --color-primary-300: #98ABFF;
    --color-primary-200: #BAC8FF;
    --color-primary-100: #DCE4FF;



    /*Success*/
    --color-success-900: #3B6506;
    --color-success-800: #4C7A0B;
    --color-success-700: #659711;
    --color-success-600: #7FB519;
    --color-success-500: #9CD323;
    --color-success-400: #BCE455;
    --color-success-300: #D3F178;
    --color-success-200: #E8FAA6;
    --color-success-100: #F5FCD2;

    /*Error*/
    --color-error-900: #7A0619;
    --color-error-800: #930B16;
    --color-error-700: #B71112;
    --color-error-600: #DB2719;
    --color-error-500: #FF4423;
    --color-error-400: #FF7F59;
    --color-error-300: #FFA37A;
    --color-error-200: #FFC8A6;
    --color-error-100: #FFE7D3;

    /*Warning*/

    --color-warning-900: #7A4D0B;
    --color-warning-800: #936312;
    --color-warning-700: #B7821D;
    --color-warning-600: #DBA32A;
    --color-warning-500: #FFC73A;
    --color-warning-400: #FFD96B;
    --color-warning-300: #FFE488;
    --color-warning-200: #FFEFB0;
    --color-warning-100: #FFF8D7;

    /*Information*/

    --color-information-900: #102E7A;
    --color-information-800: #1A4393;
    --color-information-700: #2A60B7;
    --color-information-600: #3D81DB;
    --color-information-500: #54A6FF;
    --color-information-400: #7EC2FF;
    --color-information-300: #98D3FF;
    --color-information-200: #BAE5FF;
    --color-information-100: #DCF3FF;

    /*Secondary*/

    --color-secondary-900: #040815;
    --color-secondary-800: #060713;
    --color-secondary-700: #0A0A18;
    --color-secondary-600: #0E0F1D;
    --color-secondary-500: #141522;
    --color-secondary-400: #54577A;
    --color-secondary-300: #8E92BC;
    --color-secondary-200: #C2C6E8;
    --color-secondary-100: #DFE1F3;




}